affine==2.3.1
lxml==4.9.1
numpy==1.22.0
pathlib==1.0.1
pyapputil==1.1.8
requests==2.27.1
scipy==1.8.1
pyshp==2.3.0
pngcanvas==1.0.3
webcolors==1.12
opencv-python-headless==4.5.5.64
python-dateutil==2.8.2

# From blender's integrated python
certifi>=2021.10.8
charset-normalizer==2.0.10
Cython==0.29.26
idna==3.3
#numpy==1.22.0
#requests==2.27.1
urllib3==1.26.8
zstandard==0.17.0
